<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Photo meta data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<h1 th:text="'Photos by ' + ${photographer.name}"></h1>
<table>
    <tr>
        <th>Title</th>
        <th>Lat</th>
        <th>Long</th>
        <th>Create time</th>
    </tr>
    <tr th:each="photo : ${page.content}">
        <td th:text="${photo.title}">Title</td>
        <td th:text="${photo.latitude}">Latitude</td>
        <td th:text="${photo.longitude}">Longitude</td>
        <td th:text="${photo.createDate}">Create time</td>
    </tr>
</table>
<table>
    <tr>
        <td th:if="${page.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}">
            <a th:href="${'/photos/' + photographer.id + '/' + pageNumber}" th:text=${pageNumber}></a>
        </td>
    </tr>
</table>
<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>