<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Photo meta data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <h1>Photographers</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="photographer : ${page.content}">
            <td><a th:href="${'/photos/' + photographer.id + '/1'}" th:text="${photographer.name}"></a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td th:if="${page.totalPages > 0}"
                th:each="pageNumber : ${pageNumbers}">
                <a th:href="${'/' + pageNumber}" th:text=${pageNumber}></a>
            </td>
        </tr>
    </table>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>

</html>